{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Voting System</title>
    <link rel="stylesheet" href="{% static 'voting_app/css/bootstrap.min.css' %}">
    <script src="{% static 'voting_app/js/bootstrap.min.js' %}"></script>
    <style>
        body{
            background-image: url("{% static 'voting_app/images/back.png' %}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .home_btn:hover{
            background-color: #fff;
            color: blue;
            border-color: #159CCC;
        }
        #enquiry{
            display: none;
        }
        .fields{
            display: none;
        }
    </style>
</head>
<body>
    {% if user.is_authenticated %}
        <a onclick="display()" role="button" href="{% url 'logout' %}" class='btn btn-outline-danger mt-3 text-center' style='margin-left:25%;'>LOGOUT</a>
        <a onclick="display()" role="button" href="{% url 'dashboard' %}" class='btn btn-outline-dark mt-3 text-center ml-3' style=''>DASHBOARD</a>
    {% endif %}
    <nav class="navbar navbar-expand-lg transparent navbar-light bg-light " style="background: transparent;">
        <a class="navbar-brand mt-0" href="{% url 'index'%}"><img src="{% static 'voting_app/images/vote2.jpg' %}" width=170 alt="" style='border-radius:100px;'></a>
        <div class="" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index'%}"><h1 class="alert alert-dark">FREE ONLINE / OFFLINE VOTING SYSTEM</h1><span class="sr-only">(current)</span></a>
            </li>
        <li class="nav-item active">
            <a href="{% url 'index' %}" id="toggler" role="button" class='btn btn-outline-primary' style='position:absolute;left:75%;top:35%;'>ENQUIRY</a>
        </li>
        </ul>
        </div>
    </nav>
{% if msg_flag == 1 %}
    <div class="container text-center mb-4 alert alert-success">
        <div class="transparent text-center" style='font-family:verdana;'>Event Added Successfully</div>
    </div>
{% endif %}
{% if msg_flag == 0 %}
    <div class="container text-center mb-4 alert alert-danger">
        <div class="transparent text-center" style='font-family:verdana;'>Error Adding Event</div>
    </div>
{% endif %}
    <div id="event" class="container mb-5">
        <div class="container text-center mb-3 mt-2" style='padding:40px;background-color:#888888;'>
            <h2 style="color:#fff;">EVENT DETAILS</h2>
            <form action="" method='POST' class="form">
                {% csrf_token %}
                <div class="form-group mt-3">
                    <input type="text" name='event_name' placeholder='enter event name' class='form-control' required>
                </div>
                <div class="form-group">
                    <textarea name="event_description" id="" cols="30" class="form-control" rows="5" placeholder="enter event desciption" required></textarea>
                </div>
                <!-- display a field to enter choice option and a add button to add more fields -->
                <div class="form-group">
                    <input type="text" name='event_code' placeholder='enter event code' class='form-control' required>
                </div>
                <div class="form-group">
                    <input type="text" name='referal_code' placeholder='enter referal code' class='form-control' required>
                </div>
                <!-- enter starting and ending date time  -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4"><label for="" class='mt-1'><h4 style='color:#ddd;'>choose starting date-time:</h4></label></div>
                        <div class="col-sm-8"><input type="datetime-local" name='starting_date' class='form-control' required></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4"><label for="" class='mt-1'><h4 style='color:#ddd;'>choose ending date-time :</h4></label></div>
                        <div class="col-sm-8"><input type="datetime-local" name='ending_date' class='form-control' required></div>
                    </div>
                </div>
                <div class="form-group" style='color:#ddd;'>
                    <h4>Choose number of Maximum Choices - </h4>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id='two' onclick="display_two()" type="radio" name='choice' value='two' class='form-check-input'>
                            <label for="one">Two</label>
                        </div>
                        <div class="col-sm-2">
                            <input id='three' onclick="display_three()" type="radio" name='choice' value='three' class='form-check-input'>
                            <label for="one">Three</label>
                        </div>
                        <div class="col-sm-2">
                            <input id='four' onclick="display_four()" type="radio" name='choice' value='four' class='form-check-input'>
                            <label for="one">Four</label>
                        </div>
                        <div class="col-sm-2">
                            <input id='five' onclick="display_five()" type="radio" name='choice' value='five' class='form-check-input'>
                            <label for="one">Five</label>
                        </div>
                        <div class="col-sm-2">
                            <input id='six' onclick="display_six()" type="radio" name='choice' value='six' class='form-check-input'>
                            <label for="one">Six</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name='field_one' id='field_one' class='fields form-control' placeholder='enter choice 1'>
                    <input type="text" name='field_two' id='field_two' class='fields form-control' placeholder='enter choice 2'>
                    <input type="text" name='field_three' id='field_three' class='fields form-control' placeholder='enter choice 3'>
                    <input type="text" name='field_four' id='field_four' class='fields form-control' placeholder='enter choice 4'>
                    <input type="text" name='field_five' id='field_five' class='fields form-control' placeholder='enter choice 5'>
                    <input type="text" name='field_six' id='field_six' class='fields form-control' placeholder='enter choice 6'>
                </div>
                <!-- <div class="form-group">
                    <input type="text" name='confirm_username' placeholder='confirm-username' class='form-control' required>
                </div> -->
                <div class="form-group">
                    <input type="password" name='confirm_password' placeholder='confirm-password' class='form-control' required>
                </div>
                <div class="form-group">
                    <input type="checkbox" class='form-check-input mt-2' required><small style='color:#ddd;'>Agree ? Details cannot be updated later</small>
                </div>
                <div class="form-group">
                    <input type="hidden" value='{{user.email}}' name='user_email'>
                </div>
                <div class="group-form">
                    <input type="submit" class='btn btn-outline-light' value="HOST EVENT">
                </div>
            </form>            
        </div>
    </div>

    
    <footer class="footer text-center fixed-bottom">
        @COPYWRITE ISSUE 2020
    </footer>

    <div id="enquiry" class="container mb-3">
        <div class="container text-center mb-3 mt-2" style='padding:40px;background-color:#888888;'>
            <h2 style="color:#fff;">ENQUIRY / FEEDBACK</h2>
            <form action="" method='POST' class="form">
                <div class="form-group mt-3">
                    <input type="email" name='' class='form-control' placeholder="enter a valid e-mail" aria-selected="true" required>
                </div>
                <div class="form-group">
                    <textarea name="" id="" cols="30" class="form-control" rows="10" placeholder="enter a message" required></textarea>
                </div>
                <div class="group-form">
                    <input type="submit" class='btn btn-outline-light' value="SEND MESSAGE">
                </div>
            </form>            
        </div>
    </div>


<script src="{% static 'voting_app/js/jquery.js' %}"></script>
</body>
</html>


<script>
    var flag = 0;
    function display()
    {
        if(flag == 0)
        {
            document.getElementById("enquiry").style.display="inline";
            document.getElementById("event").style.display="none";
            flag = 1;
        }
        else
        {
            document.getElementById("enquiry").style.display="none";
            document.getElementById("event").style.display="inline";
            flag = 0;
        }
    }

    function display_two(){
        document.getElementById("field_one").style.display='inline';
        document.getElementById("field_two").style.display='inline';
        document.getElementById("field_three").style.display='none';
        document.getElementById("field_four").style.display='none';
        document.getElementById("field_five").style.display='none';
        document.getElementById("field_six").style.display='none';        
    }
    function display_three(){
        document.getElementById("field_one").style.display='inline';
        document.getElementById("field_two").style.display='inline';
        document.getElementById("field_three").style.display='inline';
        document.getElementById("field_four").style.display='none';
        document.getElementById("field_five").style.display='none';
        document.getElementById("field_six").style.display='none';        
    }
    function display_four(){
        document.getElementById("field_one").style.display='inline';
        document.getElementById("field_two").style.display='inline';
        document.getElementById("field_three").style.display='inline';
        document.getElementById("field_four").style.display='inline';
        document.getElementById("field_five").style.display='none';
        document.getElementById("field_six").style.display='none';
    }
    function display_five(){
        document.getElementById("field_one").style.display='inline';
        document.getElementById("field_two").style.display='inline';
        document.getElementById("field_three").style.display='inline';
        document.getElementById("field_four").style.display='inline';
        document.getElementById("field_five").style.display='inline';
        document.getElementById("field_six").style.display='none';        
    }
    function display_six(){
        document.getElementById("field_one").style.display='inline';
        document.getElementById("field_two").style.display='inline';
        document.getElementById("field_three").style.display='inline';
        document.getElementById("field_four").style.display='inline';
        document.getElementById("field_five").style.display='inline';
        document.getElementById("field_six").style.display='inline';        
    }    

</script>
