{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'voting_app/landingPage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'voting_app/landingPage/css/style.css' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
<h5 style="font-size: 30px;font-weight: 700;letter-spacing: 1px;color: #012970;position:absolute;left:80px;top:30px;">OnlinePoll</h5>

  <!-- ======= Header ======= -->
  <div class="row"  style="padding-top:100px!important;">
  {% if events %}
   {% for event in events %}
      <div class="col-12">
       <div id="header" class="d-flex-row align-items-center">
        <div class="container d-flex flex-column align-items-center" data-con-id="container_{{event.id}}" style="box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);width:60%;border-radius:20px;">
    
          <h1 class="mt-5" style="color:#012970!important">{{event.event_name}}</h1>
          <div class="col-12 countdown nt-5 d-flex justify-content-center container_{{event.id}}" data-count="{{ event.ending_date }}">
            <div>
              <h3 class="days_container_{{event.id}}">%d</h3>
              <h4>Days</h4>
            </div>
            <div>
              <h3 class="hours_container_{{event.id}}">%h</h3>
              <h4>Hours</h4>
            </div>
            <div>
              <h3 class="min_container_{{event.id}}">%m</h3>
              <h4>Minutes</h4>
            </div>
            <div>
              <h3 class="sec_container_{{event.id}}">%s</h3>
              <h4>Seconds</h4>
            </div>
          </div>
    
        {% if user.is_authenticated %}
          <a href="{% url 'event_page' event.event_code %}" class="btn btn-primary button_container_{{event.id}} mb-3" style="color:#fff!important;--bs-btn-bg: #012970!important;-bs-btn-border-color: #012970!important;">
            Vote Now
          </a>
          <a href="{% url 'event_page' event.event_code %}" class="btn btn-primary result_container_{{event.id}} mb-3" style="display:none;color:#fff!important;--bs-btn-bg: #012970!important;--bs-btn-border-color: #012970!important;">
            View Results
          </a>
        {% else %}
          <a href="{% url 'login' %}" class="btn btn-primary mb-3">
            Login to Cast Your Vote
          </a>
        {% endif %}
    
        </div>
       </div>
      </div>  
   {% endfor %}
  {% endif %}
  </div>

  <main id="main">

    
     <!-- ======= Contact Us Section ======= -->
     <section id="contact" class="contact" style="visibility: hidden;">
        <div class="container">
  
          <div class="section-title">
            <h2>Contact Us</h2>
          </div>
  
          <div class="row justify-content-center">
  
            <div class="col-lg-10">
  
              <div class="info-wrap">
                <div class="row">
                  <div class="col-lg-4 info">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Location:</h4>
                    <p>A108 Adam Street<br>New York, NY 535022</p>
                  </div>
  
                  <div class="col-lg-4 info mt-4 mt-lg-0">
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p>info@example.com<br>contact@example.com</p>
                  </div>
  
                  <div class="col-lg-4 info mt-4 mt-lg-0">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p>+1 5589 55488 51<br>+1 5589 22475 14</p>
                  </div>
                </div>
              </div>
  
            </div>
  
          </div>
  
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Us Section -->
  </main>

  <script src="{% static 'voting_app/landingPage/js/main.js' %}"></script>

</body>

</html>