{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Voting System</title>
    <link rel="stylesheet" href="{% static 'voting_app/css/bootstrap.min.css' %}">
    <script src="{% static 'voting_app/js/bootstrap.min.js' %}"></script>
    <style>
        body{
            background-image: url("{% static 'voting_app/images/back.png' %}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .home_btn:hover{
            background-color: #fff;
            color: blue;
            border-color: #159CCC;
        }
        #enquiry{
            display: none;
        }
    </style>
</head>
<body>
    {% if user.is_authenticated %}
        <a onclick="display()" role="button" href="{% url 'logout' %}" class='btn btn-outline-danger mt-3 text-center' style='margin-left:25%;'>LOGOUT</a>
        <a onclick="display()" role="button" href="{% url 'dashboard' %}" class='btn btn-outline-dark mt-3 text-center ml-3'>DASHBOARD</a>
    {% endif %}
    <nav class="navbar navbar-expand-lg transparent navbar-light bg-light" style="background: transparent;">
        <a class="navbar-brand mt-0" href="{% url 'index' %}"><img src="{% static 'voting_app/images/vote2.jpg' %}" width=170 alt="" style='border-radius:100px;'></a>
        <div class="" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}"><h1 class="alert alert-dark">FREE ONLINE / OFFLINE VOTING SYSTEM</h1><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a href="{% url 'index' %}" id="toggler" role="button" class='btn btn-outline-primary' style='position:absolute;left:75%;top:35%;'>ENQUIRY</a>
            </li>
        </ul>
        </div>
    </nav>
    {% if msg_flag == -1 %}
        <div class="container-fluid text-center alert alert-danger">No such Event Exists</div>
    {% endif %}
    {% if flag == -1 %}
        <div class="container-fluid text-center alert alert-danger">You Already Participated in this event</div>
    {% endif %}
    <div id="vote" class="container mb-3">
        <div class="container text-center mb-3 mt-2" style='padding:40px;background-color:#888888;'>
            <h2 style="color:#fff;">PARTICIPATE TO VOTE</h2>
            <form action="" method='POST' class="form">
                {% csrf_token %}
                <!-- <div class="form-group">
                    <input type="text" name='' class="form-control" placeholder='enter your name' required>
                </div>
                <div class="form-group mt-3">
                    <input type="email" name='' class='form-control' placeholder="enter a valid e-mail" aria-selected="true" required>
                </div>
                <div class="form-group">
                    <input type="number" name='' class='form-control' placeholder="enter a valid mobile no." required>
                </div> -->
                <div class="form-group mt-4">
                    <input type="text" name='event_code' class='form-control' placeholder="type event code" required>
                </div>
                <div class="form-group">
                    <input type="text" name='referal_code' class='form-control' placeholder="type referral code" required>
                </div>
                <input type="hidden" value='{{user.username}}' name='uname'>
                <input type="hidden" value='{{user.password}}' name='password'>
                <div class="group-form">
                    <input type="submit" class='btn btn-outline-light mt-3' value="ENTER">
                </div>
                <div class="form-group mt-5">
                    <div style='color:#fff;'>To Host a Polling Event, <a href="{% url 'host_event_page' %}" style='color:#fdff72;'><b>CLICK HERE</b></a></div>
                </div>
            </form>            
        </div>
    </div>

    
    <footer class="footer text-center fixed-bottom">
        @COPYWRITE ISSUE 2020
    </footer>

    <div id="enquiry" class="container mb-3">
        <div class="container text-center mb-3 mt-2" style='padding:40px;background-color:#888888;'>
            <h2 style="color:#fff;">ENQUIRY / FEEDBACK</h2>
            <form action="" method='POST' class="form">
                <div class="form-group mt-3">
                    <input type="email" name='' class='form-control' placeholder="enter a valid e-mail" aria-selected="true" required>
                </div>
                <div class="form-group">
                    <textarea name="" id="" cols="30" class="form-control" rows="10" placeholder="enter a message" required></textarea>
                </div>
                <div class="group-form">
                    <input type="submit" class='btn btn-outline-light' value="SEND MESSAGE">
                </div>
            </form>            
        </div>
    </div>


<script src="js/jquery.js"></script>
</body>
</html>


<script>
    var flag = 0;
    function display()
    {
        if(flag == 0)
        {
            document.getElementById("enquiry").style.display="inline";
            flag = 1;
            document.getElementById("vote").style.display='none';
        }
        else
        {
            document.getElementById("enquiry").style.display="none";
            flag = 0;
            document.getElementById("vote").style.display='inline';
        }
    }
</script>