{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'voting_app/eventpage/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'voting_app/eventpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'voting_app/eventpage/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'voting_app/eventpage/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'voting_app/eventpage/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'voting_app/eventpage/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'voting_app/eventpage/css/style.css' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <span>OnlinePoll</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          {% if user.is_superuser %}
           <li><a class="nav-link scrollto" href="{% url 'create_campaign' %}">Create Campaign</a></li>
           <li><a class="nav-link scrollto" href="{% url 'manage_events' %}">Manage Events</a></li>
          {% endif %}
          <li><a class="nav-link scrollto active" href="javascript:void(0)">Stats Library</a></li>
          <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main" style="margin-top:100px;">

    <!-- ======= Pricing Section ======= -->

    {% if event_info %}
    {% for e in event_info %}
    
    <section class="pricing" style="padding:30px 0!important;">

      <div class="container" data-aos="fade-up">
        <div class="row gy-4" data-aos="fade-left" style="width:60%;display:block;margin-left:auto;margin-right:auto;">
          <div class="box"  style="text-align:left!important;">

            <div class="testimonial-item">
              <h2>{{e.event_name}}</h2>
              <h5>{{e.starting_date}} - {{e.ending_date}}</h5>
              
              {% for key, value in votes_data.items %}
                {% if key == e.id %}
                  <p>Total Users: {{ value.entire_user_count }}</p>
                  <p>Total Voted Users : {{ value.voted_count }}</p>
                  
                  <p>Vote Percentage</p>
                  <div class="progress" style="width:50%">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{value.vote_percent}}"
                    style="width:{{value.vote_percent}}%">
                    {{value.vote_percent}}% Complete
                    </div>
                  </div>

                {% endif %}
              {% endfor %}
              
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Pricing Section -->

    {% endfor %}
    {% endif %}
   



  </main><!-- End #main -->
  <!-- Vendor JS Files -->
  <script src="{% static 'voting_app/eventpage/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'voting_app/eventpage/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'voting_app/eventpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'voting_app/eventpage/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'voting_app/eventpage/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'voting_app/eventpage/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'voting_app/eventpage/js/main.js' %}"></script>


</body>

</html>